<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/main.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <div>{{ message }}</div>
      <input type="text" v-model="message" value="hogehoge" />
      <br />

      <textarea v-model="message"></textarea>
      <br />

      <input type="checkbox" id="checkbox" v-model="checked" />
      <label for="checkbox">{{ checked }}</label>
      <br />

      <input type="checkbox" id="red" value="Red" v-model="colors" />
      <label for="red">Red</label>
      <input type="checkbox" id="green" value="Green" v-model="colors" />
      <label for="green">Green</label>
      <input type="checkbox" id="blue" value="Blue" v-model="colors" />
      <label for="blue">Blue</label>
      <div>{{ colors }}</div>

      <input type="radio" id="red2" value="Red" v-model="color" />
      <label for="red2">Red</label>
      <input type="radio" id="green2" value="Green" v-model="color" />
      <label for="green2">Green</label>
      <input type="radio" id="blue2" value="Blue" v-model="color" />
      <label for="blue2">Blue</label>
      <br />

      <select v-model="selected" multiple>
        <option disabled value="">Please select one</option>
        <option>Red</option>
        <option>Green</option>
        <option>Blue</option>
      </select>
      <div>{{ selected }}</div>

      <input type="text" v-model.lazy="message" />
      <br />

      <input type="text" v-model.trim="message" />
      <br />

      <input type="number" v-model.number="age" />{{ age + 10 }}
      <br />

      <pre>{{ $data }}</pre>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
